h1 {
    color: rgb(0, 52, 80);
    font-size: 2.7rem;
    font-weight: 600;
    padding: 5px 20px 15px;
  }
  
  h2 {
    font-weight: 500;
    font-size: 1.6rem;
    color: rgb(0, 52, 80);
    padding: 10px 20px;
  }
  
  h3 {
    font-size: 1.5rem;
    color: rgb(0, 52, 80);
    padding: 20px;
  }
  
  p {
    font-weight: 300;
    line-height: 1.7rem;
    text-align: left;
    padding-left: 20px;
  }
  